@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* временно для сетки */
  outline: 0.5px solid red;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: block;
  padding: 8px 34px 8px 34px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.button--blue {
  background-color: #82B3D3;
}

.button--transparent {
  background-color: transparent;
}

.button--checked {
  background-color: #7DB54F;
}

/* Хедер */


.navigation {
  display: flex;
  flex-wrap: wrap;
  padding-right: 70px;
  padding-left: 70px;
  width: 100%;
  background-color: #ffffff;

  margin-bottom: -6px;
}

.page-header__logo {
  margin-right: 45px;
  width: 140px;
  height: 70px;

  z-index: 1;
}

.logo img {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 600px;

  list-style: none;
}

.navigation-list__item {
  margin-right: 32px;
}

.navigation-list__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-list__link--active {
  position: relative
}

.navigation-list__link--active::after {
  position: absolute;
  content: "";

  width: 100%;
  height: 2px;

  left: 0;
  bottom: -1px;

  background-color: #756257;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: 0;
  margin-left: auto;
  list-style: none;
}

.user-menu__search {
  font-size: 0;
  background-image: url("../img/search-icon.svg");
}

.user-menu__like {
  position: relative;
  background-image: url("../img/like-icon.svg");
}

.user-menu__like-quantity {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  top: 10px;
  left: 20px;

  background-color: #7DB54F;
  border-radius: 100%;
}

.user-menu__search,
.user-menu__like {
  display: block;
  width: 44px;
  height: 64px;
  padding-bottom: 37px;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 50% 23px;
}

.user-menu__item--buttom {
  padding-top: 14px;
  margin-left: 20px;
}


.main-container {
  flex-grow: 1;
}

/* main Index */

.main-index__greetings {
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #DEECF5;
  background-image: url("../img/divider.svg"), url("../img/index-background.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
}

.main-index__greetings img {
  display: block;
  margin: 0 auto;
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 68px;

  background-color: #ffffff;
}

.advantages__title,
.offers__title,
.hotel-selection__title,
.newsletter__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
  text-align: center;
}

.advantages__legend,
.offers__legend,
.hotel-selection__legend,
.newsletter__legend {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages__legend,
.advantages__title {
  width: 55%;
}


.advantages__legend {
  margin-bottom: 90px;
}

.advantages__title {
  margin-bottom: 25px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__list-item {
  min-height: 385px;
  background-color: #F0F6FA;
}

.advantages__list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-top: 113px;
  padding-bottom: 113px;

  width: 33.33%;
}

.advantages__list-item--img .advantages__list-content {
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantages__list-item--img {
  display: flex;
  width: 100%;

  background-color: #82B3D3;
}

.advantages__list-item--img img {
  flex-grow: 1;
}

.advantages__list-item--img-reverse {
  flex-direction: row-reverse;
}

.advantages__list-item--bg-second {
  background-color: #E6F0F6;
}

.advantages__list-title,
.offers__list-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.advantages__list-legend,
.offers__list-legend {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages__list-title {
  position: relative;
  padding-bottom: 32px;
  width: 172px;

}

.advantages__list-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;

  left: 50%;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages__list-legend {
  width: 243px;
}

.advantages__list-item--img .advantages__list-title,
.advantages__list-item--img .advantages__list-legend {
  color: #ffffff;
}

.advantages__list-item--img .advantages__list-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}


.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;

  background-color: #ffffff;
}

.offers__title,
.offers__legend {
  width: 42%;
}

.offers .offers__legend {
  margin-bottom: 64px;
}

.offers__list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.offers__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 81px 0;
  width: 33.33%;
  background-color: #F0F6FA;
}


.offers__list-item--white-bg {
  background-color: #ffffff;
}

.offers__list-title {
  position: relative;
  padding-top: 102px;
  width: 230px;
}

.offers__list-title::before {
  content: "";
  position: absolute;

  width: 75px;
  height: 72px;

  left: 50%;
  top: 0;

  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  transform: translateX(-50%);
}

.offers__list-item--housing .offers__list-title::before {
  background-image: url("../img/housing-icon.svg");
}

.offers__list-item--food .offers__list-title::before {
  background-image: url("../img/food-icon.svg");
}

.offers__list-item--souvenirs .offers__list-title::before {
  background-image: url("../img/souvenir-icon.svg");
}

.offers__list-legend {
  width: 60%;
}

.offers__list-item--housing .offers__list-legend {
  width: 45%;
}



.hotel-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: #ffffff;
}

.hotel-selection__legend {
  margin-bottom: 53px;
  width: 590px;
}

.hotel-selection .button {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  line-height: 36px;
}

/* main catalog  */

.inner-header {

  padding: 70px;
  padding-top: 35px;
  background-color: #82B3D3;
  background-image: url("../img/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  /* временно для сетки */
  min-height: 412px;
}

.inner-header__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  margin-right: 12px;
}

.breadcrumbs__item:not(.breadcrumbs__item--home) {
  position: relative;
  padding-left: 17px;
}

.breadcrumbs__item:not(.breadcrumbs__item--home):before {
  position: absolute;
  content: "";

  width: 8px;
  height: 21px;

  top: 0;
  left: 0;

  background-image: url("../img/breadcrubs-next-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}

.breadcrumbs__link {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: -1px;
}

.breadcrumbs__link--home {
  height: 21px;
  width: 13px;

  background-image: url("../img/breadcrubs-home-icon.svg");
  background-repeat: no-repeat;
  background-size: 13px 15px;
  background-position: 0 2px;
}

.catalog-filter__form {
  display: flex;
}

.catalog-filter__group {
  padding: 0;
  border: none;
}

.catalog-filter__buttons {
  display: flex;
  flex-direction: column;
}

.catalog-filter__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-list__item .control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.sorting {
  display: flex;
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  background-color: #ffffff;

  /* временно для сетки */
  min-height: 140px;
}

.sorting .sorting__result {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.sorting .sorting__select {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.sorting .toggle-panel {
  display: flex;
}

.toggle-panel__button {
  width: 48px;
  height: 48px;

  border: 2px solid #000000;
  border-radius: 4px;
}

.inner-catalog .catalog {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 20px;
  margin: 0;
  list-style: none;

  background-color: #ffffff;

  /* временно для сетки */
  min-height: 936px;
}

.catalog .product-card {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 32%;

  /* временно для сетки */
  min-height: 438px;
}

.product-card__link {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  padding-bottom: 16px;

  text-decoration: none;
}

.product-card__link img {
  width: 100%;
  margin-bottom: 16px;
}

.catalog .product-card__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.catalog .product-card__housing-type,
.catalog .product-card__housing-minprice {
  font-size: 18px;
  line-height: 21px;
}

.catalog .product-card__rating-total {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* footer */

.footer {
  display: flex;
  flex-wrap: wrap;
}


.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 104px;
  width: 100%;

  background-color: #ffffff;
}

.newsletter__title,
.newsletter__legend {
  width: 40%;
}

.newsletter__legend {
  margin-bottom: 55px;
}

.newsletter:not(.footer--catalog .newsletter) {
  background-color: #88A4B6;
  background-image: url("../img/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .newsletter__title:not(.footer--catalog .newsletter__title),
.footer .newsletter__legend:not(.footer--catalog .newsletter__legend) {
  color: #ffffff;
}

.social-list__link svg {
  fill: #83B3D3;
}

.social-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  width: 142px;

  list-style: none;
  background-color: #ffffff;
/* временно для стилей */
  min-height: 120px;
}

.social-list__link svg {
  fill: #83B3D3;
}

.footer__contacts-phone {
  background-color: #ffffff;
}

.footer__contacts-phone a {
  display: block;

  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  color: #000000;
}

.html-link {
  margin: 0;
  background-color: #ffffff;
}

.htmlacademy-link {
  display: block;
}

.html-link {
  width: 115px;
  padding-top: 5px;
}

.html-link svg {
  fill: #000000;
}

.index-popup {
  display: none;
}
